.entry-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  p {
    color: transparent;
    padding: 0;
    width: 0;
  }
  .game-name {
    color: $white;
    white-space: nowrap;
    position: absolute;
    top: 5vw;
    left: 10.5vw;
    font-weight: 300;
    z-index: 100;
    font-size: 1.5vw;
    transition: opacity $anim_del_2 ease-in-out;
  }

  .entry-container {
    margin: 0.1vw;
    height: fit-content;
    border: 0.1vw solid transparent;
    border-radius: 1.3vw;
    transition: border $anim_del_2 ease-in-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    img {
      min-width: 6vw;
      min-height: 6vw;
      max-width: 6vw;
      max-height: 6vw;
      border-radius: 1vw;
      margin: 0.2vw;
      transition: min-width $anim_del_1 ease-in-out,
        min-height $anim_del_1 ease-in-out, max-width $anim_del_1 ease-in-out,
        max-height $anim_del_1 ease-in-out;
    }
    .img-hover {
      min-width: 9vw;
      min-height: 9vw;
      max-width: 9vw;
      max-height: 9vw;
      transition: min-width $anim_del_1 ease-in-out,
        min-height $anim_del_1 ease-in-out, max-width $anim_del_1 ease-in-out,
        max-height $anim_del_1 ease-in-out;
    }
  }
  .entry-hover {
    border-radius: 1.3vw;
    border: 0.1vw solid $white;
    transition: border $anim_del_2 ease-in-out;
    transition-delay: 0.3s;
  }
  .hide {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
}
